.modals-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;      
  height: 100%;
  background: rgba(0,0,0,0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modals-content {
  position: relative;
  border-radius: 12px;
  animation: fadeIn 0.3s ease-in-out;

}

.modals-close {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent !important;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #00a63f;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}
