/* .login-wrapper{
    display: flex;
    flex-direction: column;
    gap: 7px;
} */

/* .login-containers{
    background-color: white;
    max-width: 1000px;
    padding: 20px;
} */

/* .login-inputs{
    width: 100%;
} */