/* .login-wrapper{
    display: flex;
    flex-direction: column;
    gap: 7px;
} */

/* .login-containers{
    background-color: white;
    max-width: 1000px;
    padding: 20px;
} */

/* .login-inputs{
    width: 100%;
} */


.login-button{
    padding: 10px; 
    border: none;
    cursor: pointer;
}

.login-error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.login-button:hover {
    background-color: #008a32;
}

.login-button:disabled {
    background-color: #8cd19d;
    cursor: not-allowed;
}