.login-input{
     margin: 10px 0;
}

.login-button{
      width: 100%;
      background-color: #00a63f;
      color: white;
      border-radius: 5px;
}

.login-container{
    background-color: white;
    padding: 20px;
    margin: 20px;
      border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.login-titles{
    color: #00a63f !important;
}