.profile-container {
   max-width: 800px;
  margin: 40px auto;
  padding: 24px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.profile-container h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color:#0c0091;
}

.message {
  text-align: center;
  margin-bottom: 12px;
  font-size: 14px;
}

.message.error {
  color: red;
}

.message.success {
  color: green;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile-form label {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
  color: #444;
}

.profile-form input {
  width: 100%;
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.2s ease;
}

.profile-form input:focus {
  outline: none;
  border-color: #008a34;
}

.profile-form button {
  padding: 12px;
  background: #008a34;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.profile-form button:hover {
  background: #008a34;
}

.profile-form button:disabled {
  background: #aaa;
  cursor: not-allowed;
}
