.testimonials-section {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  text-align: left;
  color: #0c0091;
}

.testimonial-card {
  background: #fff;
  border-radius: 16px;
  padding: 2rem;
  margin: 0 1rem;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease;
  height: 300px;
}

.testimonial-card:hover {
  transform: translateY(-5px);
}

.testimonial-card:focus {
  outline: none;
}

.testimonial-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto 1rem;
  object-fit: cover;
}

.testimonial-text {
  font-style: italic;
  color: #555;
  margin-bottom: 1rem;
  line-height: 1.6;
  font-size: 1rem;
}

.testimonial-name {
  font-size: 1.1rem;
  font-weight: 600;
  color: #0c0091;
}

.testimonial-role {
  font-size: 0.9rem;
  color: #888;
}

/* Custom arrows */
.arrow {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 2;
  background: #008a34;
  border: none;
  padding: 0.6rem;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow:hover {
  background: green;
}

.arrow.prev {
  left: -50px;
}

.arrow.next {
  right: -50px;
}

/* Tablet */
@media (max-width: 992px) {
  .section-title {
    font-size: 1.8rem;
    text-align: center;
  }

  .arrow {
    top: 45%;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .arrow {
    display: none !important;
  }

  .section-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .testimonial-card {
    padding: 1.5rem;
    margin: 0.5rem;
  }

  .testimonial-img {
    width: 80px;
    height: 80px;
  }

  .testimonial-text {
    font-size: 0.9rem;
    line-height: 1.4;
  }

  .testimonial-name {
    font-size: 0.9rem;
  }

  .testimonial-role {
    font-size: 0.75rem;
  }
}

/* Small phones */
@media (max-width: 480px) {
  .section-title {
    font-size: 1.3rem;
  }

  .testimonial-text {
    font-size: 0.8rem;
  }

  .testimonial-name {
    font-size: 0.85rem;
  }


  .testimonial-card {
  height: 300px;
}

}


